<section class="home" id="home">
    <div class="home-left">
        <div class="home-info">
        <h1>We Made Food <br> With Love.</h1>
        <p>Oferecemos um cardápio para diversos gostos e para diversas pessoas, com certeza você achará algum que te agrade.</p>
        </div>
    </div>
    <div class="home-right">
        <div class="home-img">
        <img src="assets/img/burg-home (2).png">
        </div>
    </div>
</section>

<section class="about" id="sobre">
    <div class="about-left">
        <div class="about-img">
            <img src="assets/img/about.jpg">
        </div>
    </div>
    <div class="about-right">
        <div class="about-info">
            <h2>Sobre Nós</h2>
            <p>Somos uma hamburgueria que estamos a mais de 30 anos no mercado de restaurantes, os melhores ingredientes são escolhidos para o cliente degustar do melhor sabor, assim também são chef´s, escolhemos os mais qualificados, aqueles que fazem a preparação do hamburguer com amor.</p>
        </div>
    </div>
</section>

<section class="pro" id="promocoes">
    <div class="pro-title">
        <h2>PROMOÇÕES</h2>
    </div>
    <div class="products">
        <div class="polaroid">
            <img src="../../assets/img/burg-item.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Burguer </div>
                <div class="desc-cap"><p>Descrição: (BIFE MISTO E METADE CASEIRO BOVINO) PÃO, BIFE, QUEIJO, SALADA.</p> </div>    
                <div class="price-cap">De <s>R$14,99</s> por R$12,99</div>
            </div>
        </div>

        <div class="polaroid">
            <img src="../../assets/img/x-bacon.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Bacon </div>
                <div class="desc-cap"><p>Descrição: CARNE BOVINA, PÃO, BIFE, QUEIJO, SALADA, BACON.</p> </div>    
                <div class="price-cap">De <s>R$19,99</s> por R$15,99</div>
            </div>
        </div>

        <div class="polaroid">
            <img src="../../assets/img/x-salad.png" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Salada </div>
                <div class="desc-cap"><p>Descrição: BIFE MISTO, PÃO, BIFE, QUEIJO, SALADA.</p> </div>    
                <div class="price-cap">De <s>R$12,99</s> por R$9,99</div>
            </div>
        </div>

        <div class="polaroid">
            <img src="../../assets/img/x-hulk.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Strong</div>
                <div class="desc-cap"><p>Descrição: BIFE MISTO, METADE CASEIRO BOVINO E METADE DE FRANGO, PÃO, BIFE, MISTO, QUEIJO, SALADA.</p> </div>    
                <div class="price-cap">De <s>R$17,99</s> por R$14,99</div>
            </div>
        </div>

        <div class="polaroid">
            <img src="../../assets/img/x-andar.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Andar </div>
                <div class="desc-cap"><p>Descrição: BIFE MISTO, METADE CASEIRO BOVINO E METADE DE FRANGO, PÃO, BIFE, QUEIJO, ALFACE.</p> </div>    
                <div class="price-cap">De <s>R$25,00</s> por R$19,99</div>
            </div>
        </div>

        <div class="polaroid">
            <img src="../../assets/img/x-gemeos.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">X-Duplo Egg </div>
                <div class="desc-cap"><p>Descrição: BIFE MISTO PÃO, BIFE, MISTO, QUEIJO, SALADA, OVO </p> </div>    
                <div class="price-cap">De <s>R$30,00</s> por R$25,99</div>
            </div>
        </div>
        
        <div class="polaroid">
            <img src="../../assets/img/batata.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">Porção Batata Frita</div>
                <div class="desc-cap"><p>Descrição: BATATA FRITA NORMAL OU RECHEADA</p> </div>    
                <div class="price-cap">De <s>R$7,00</s> por R$4,99</div>
            </div>
        </div>  

        <div class="polaroid">
            <img src="../../assets/img/Refrigerante.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">Refrigerante </div>
                <div class="desc-cap"><p>Descrição: Coca-cola, Sprite, Fanta, Pepsi, Kuat</p> </div>    
                <div class="price-cap">De <s>R$5,00</s> por R$3,00</div>
            </div>
        </div>  

        <div class="polaroid">
            <img src="../../assets/img/suco.jpg" alt="imagem hamburguer">
        
            <div class="caption">
                <div class="title-cap">Sucos </div>
                <div class="desc-cap"><p>Descrição: Sucos com vários sabores</p> </div>    
                <div class="price-cap">De <s>R$5,00</s> por R$3,00</div>
            </div>
        </div>  
    </div>
</section>

<section class="pedido" id="pedido">
    <a class="btn" target="_blank" href="https://form.123formbuilder.com/6040306/form">Faça seu pedido aqui</a>
</section>