<div class="footer">
    <div class="footer-left"> 
        <p>•Avenida Paulista 491 - Bela Vista</p>

        <p> •São Paulo, SP 01311-000</p>

        <p>•contato.xamasburguer@hotmail.com</p>

        <p>•Telefone (11) 2297-2354</p>
    </div>
    <div class="footer-middle">
        <img src="../../assets/img/logo-baseboard.png" alt="foto-logo-footer">
        <p>Copyright © 2021 Xamã' Hamburgueria- Todos os direitos reservados</p>
    </div>
    <div class="footer-right">
        <p>Nos siga nas redes sociais</p>
        <div class="redes">
            <a href="https://facebook.com/" target="_blank"><img src="../../assets/img/fb.png"></a>
            <a href="https://instagram.com/" target="_blank"><img src="../../assets/img/ig.png"></a>
            <a href="https://twitter.com/" target="_blank"><img src="../../assets/img/tt.png"></a>
        </div>
    </div>
</div>